@charset "utf-8";

body {
    margin: 0;
	background-color: #FDFDFD;
	/* background-color: #000; */
}
h2 {
    font-family: 'Raleway','Hiragino Sans',"Helvetica",Arial,sans-serif;
    font-size: 30px
}
h3 {
    font-family: 'Raleway','Hiragino Sans',"Helvetica",Arial,sans-serif;
    font-size: 18px
}

#title {
    position: fixed;    /* fixed header*/
    z-index: 20;
    width: 100%;
    height: 70px;
    background-color: black;
    margin: 0;
    opacity: 0.8;
	font-family: 'Raleway','Hiragino Sans',"Helvetica Neue",Arial,sans-serif;
}

.title-inner h1{
    color: #fff;
    float: left;
    display:table-cell;
    vertical-align:middle;
    flex:1;
}
.title-inner h1 a{
    color:#fff;
    text-decoration: none;
}
#toggle{
    display: none;
    width: 100%;
}
#footermenu {
    position: fixed;    /* fixed header*/
    width: 100%;
    height: 40px;
    background-color: #f92;
    margin: 0;
    font-size: 10px;
    opacity: 0.95;
    bottom: 0; /*下に固定*/
}

.headmenu{
    display:-webkit-inline-flex;
    display:inline-flex;
    -webkit-justify-content:flex-end;justify-content:flex-end;
    -webkit-align-items:stretch;align-items:stretch;
    width:100%;
    padding:0 1vw 0 0;
}
.menu ul{
    display:-webkit-flex;
    display:inline-flex;
    justify-content: flex-end;
    margin:1em;
    padding:1em 1em;
    float: right;
}
.menu li{
    display:-webkit-flex;
    display:inline-flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    justify-content:center;
    list-style: none;
    margin-right: 1em;
    background: black;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.menu li a{
    color:#fff;
    text-decoration: none;
}
li#thispage{
    display:-webkit-flex;
    display:inline-flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    justify-content:center;
    list-style: none;
    margin-right: 1em;
    background: black;
    color: #fff;
    border-bottom: 2px solid #555;
}
li#thispage a{
    color:#555;
    text-decoration: none;
}
.contentsmenu{
    display:-webkit-inline-flex;
    display:inline-flex;
    -webkit-justify-content:flex-end;justify-content:flex-end;
    -webkit-align-items:stretch;align-items:stretch;
    width:100vw;
    padding:0 1vw 0 0;
    background: #f92;
}
.contentstitle-inner h3{
    color: #333;
    float: left;
    display:table-cell;
    vertical-align:middle;
    flex:1;
}
.contentstitle-inner h3 a{
    color:#333;
    text-decoration: none;
}
.submenu ul{
    display:-webkit-flex;
    display:inline-flex;
    justify-content: flex-end;
    margin:1em;
    padding:1em 1em;
    float: right;
}
.submenu li{
    display:-webkit-flex;
    display:inline-flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    justify-content:center;
    list-style: none;
    margin-right: 1em;
    background: #f92;
    color: #333;
    border-bottom: 1px dashed #fff;
}
@media only screen and (max-width: 480px){
    /* Smallest width */
    #title {height: 50px;}
    .menu{
        width:100%;
        padding:0;
    }
    .headmenu{
        padding: 0 ;
        margin: 0;
    }
    #menulist {
        width:100%;
        display: none;
    }
    #menulist li {width: 100%;}
    .menu ul{
        margin:0;
        padding:0;
    }
    .menu li{
        margin-right: 0;
        border-bottom: 1px solid #fff;
    }
    li#thispage{
        margin-right: 0;
        border-bottom: 1px solid #555;
    }
    #toggle {
        display: block;
        position: relative;
        margin: 0 0 0;
        width: 100%;
        background: black;
    }
    #toggle a{
        display: block;
        position: relative;
        padding: 12px 0 10px;
        border-bottom: 1px none #444;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }
    #toggle:before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        background: #fff;
    }
    #toggle a:before, 
    #toggle a:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        width: 20px;
        height: 4px;
        background: black;
    }
    #toggle a:before {margin-top: -6px;}
    #toggle a:after {margin-top: 2px;}

    #topimg {padding-top: 12em;}
    #cvimg {padding-top: 12em;}

    .title-inner{
        display:none;
    }
    .contentstitle-inner{
        display:none;
    }
    .submenu{
        width:100vw;
        padding:0 5vw 0 0;
    }
    #sub_main{
        width: 80%;
        height: auto;
	    background-color: #FDFDFD;/*薄い背景色*/
        margin: 0 0 5em 0;
        padding: 0 0 0 0;
    }
    #sub_contact{
        width: 80%;
        height: auto;
        background-color: #FDFDFD;
        margin: 0;
        padding: 0;
        }
    #sub_menu{
        width: 80%;
        height: auto;
        background-color: #FDFDFD;
        margin: 0;
    }
}

@media screen and (min-width:480px) and (max-width:1024px){
    /* Mid. width */
    #topimg {padding-top: 10em;}
    #cvimg {padding-top: 10em;}

    .title-inner{
        display:none;
    }
    .menu{
        width:100vw;
        padding:0 5vw 0 0;
    }

    .contentstitle-inner{
        display:none;
    }
    .submenu{
        width:100vw;
        padding:0 5vw 0 0;
    }
    #sub_main{
        width: 80%;
        height: auto;
	    background-color: #FDFDFD;/*薄い背景色*/
        margin: 0 0 5em 0;
        padding: 0;
    }
    #sub_contact{
        width: 80%;
        height: auto;
        background-color: #FDFDFD;
        margin: 0;
        padding: 0;
        }
    #sub_menu{
        width: 80%;
        height: auto;
        background-color: #FDFDFD;
        margin: 0;
    }
}

@media screen and (min-width:1024px){
    /* Largest width */
    #topimg {padding-top: 0em;}
    #cvimg {padding-top: 0em;}

    .title-inner{
        flex:1;
        float:left;
        display:table;
        padding:0 0 0 5vw;
    }
    .menu{
        width:60vw;
        padding:0 5vw 0 0;
    }

    .contentstitle-inner{
        flex:1;
        float:left;
        display:table;
        padding:0 0 0 5vw;
    }
    .submenu{
        width:60vw;
        padding:0 5vw 0 0;
    }
    .name_main{
        display: none;
    }

    #sub_main{
        float: right;
        width: 60vw;
        height: auto;
	    background-color: #FDFDFD;/*薄い背景色*/
        margin: 0;
        padding: 0;
    }
    #sub_contact{
        float: left;
        width: 28vw;
        height: auto;
        background-color: #FDFDFD;
        margin: 0;
        padding: 0;
        }
    #sub_menu{
        float: left;
        width: 28vw;
        height: auto;
        background-color: #FDFDFD;
        margin: 0;
    }
}



a:link{color:#ee3377;}
a:visited{color:#ee3377;}
a:active{color:#ee3377;}
a:hover{color:#acacac;}

a#sub:link{color:#333;}
a#sub:visited{color:#333;}
a#sub:active{color:#333;}
a#sub:hover{color:#acacac;}
a#sub{text-decoration:none;}

a#subtitle{
    color:#DEDEDE;
    text-decoration:none;
}

#topimg {
    position: relative;
    z-index: 10;
    width: 100vw;
    height: 40vw;
    margin: 0 0vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./img/bg1.JPG);
}
#topimg p {
    position: absolute;
    color: white;
    right: 0px;
    bottom: 0px;
}
#cvimg {
    position: relative;
    z-index: 10;
    width: 100vw;
    height: 40vw;
    margin: 0 0vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./img/bg2.JPG);
}
#cvimg p {
    position: absolute;
    color: white;
    right: 0px;
    bottom: 0px;
}
#main{
    clear: both;
    width: 90vw;
    height: auto;
    margin: 0em auto;
    padding-top: 0em;
}
#main_woimg{
    clear: both;
    width: 90vw;
    height: auto;
    margin: 0em auto;
    padding-top: 5em;
}
.main_title{
	/*タイトル部分*/
	background-color: #DCDCDF;/*背景色*/
	color: #221122;/*文字色*/
	margin: 0 0 0 0;
	padding: 8px 4px 7px 9px;
	border-left: double 17px #888888;/*左の二本線*/
	border-right: dashed 2px #DCDCDF;/*右の点線*/
	font-size: 10pt;/*文字サイズ*/
	font-weight: bold;/*太字*/
	font-family: 'Hiragino Sans',Arial,sans-serif;
	letter-spacing: 0em;/*文字間隔*/
}
.main_text{
	padding: 8px 4px 7px 9px;
	margin: 0px 0px 0px 3px;
	line-height: 2;/*行間隔*/
	background-color: #FDFDFD;/*薄い背景色*/
    font-size: 10pt;/*文字サイズ*/
    font-family: 'Hiragino Sans',Arial,sans-serif;
}
.main_text h3{
    display: table; /*adjust text width*/
    border-top: solid 2px #FFC778;/*上線*/
    border-bottom: double 5px #FFC778;
    font-size: 13pt;/*文字サイズ*/
}
div.indent_text {
    padding-left: 2em;
    padding-top: 1em;
	text-indent:0em;
}

#sub_panel {
    width: 90vw;
    height: auto;
    margin: 0em 5vw;
    padding: 100px 0 0;
    font-size: 10pt;
    font-family: 'Hiragino Sans',Arial,sans-serif;
}
h3#sub_title{
    background-color: #DCDCDF;/*背景色*/
    border-left: double 17px #888888;/*左の二本線*/
	border-right: dashed 2px #DCDCDF;/*右の点線*/
    margin: 0;
    padding: 0 0 0 30px;
}
#sub_contact li{
    list-style: none;
}
#sub_menu li{
    list-style: none;
}
#footer{
    width: 90vw;
    height: 60px;
    background-color: #FDFDFD;
    margin: 5px auto ;
}


.multilist_text {
    margin: 5px;
    padding: 0;
    width: 100vw;
    list-style: outside;
}
.multilist_text li {
    margin: 3px;
    padding: 0;
    float: left;
    width: 500px;
}
.clearmultilist {
    clear: left; 
}

p.image img {
    /* width: 300px;  横幅を200pxに */
}

/* CV contents */
hr.style-1 {
	border-top: 2px dotted #8c8b8b;
	border-bottom: 2px dotted #fff;
}
.CVContent {
	width: 100%%;
}
.CVContent h4 {
	font-size: 1.2em;
	margin-bottom: -2px;
}
.CVContent h5 {
	font-size: 1em;
	margin-bottom: -2px;
}
.CVsubDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}
/* tree-label */
.researchtitle{
    background-color: #565656;
    color: #EFEFEF;
    width: 90%;
    padding: 1px 1em;
    border-left: double 17px #A9A9A9;
    border-right: dashed 2px #DCDCDF;
    font-size: 10pt;
    font-family: 'Hiragino Sans',Arial,sans-serif;
    letter-spacing: 0em;
}

:target::before {
   content: "";
   display: block;
   height: 70px;
   margin-top: -70px;
}